* {
  font-family: "barlow", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 42px; }

.blig {
  font-weight: lighter; }

.subt {
  font-size: 11.9px; }

.h1 {
  margin: 0px;
  padding: 0px; }

.tope {
  display: flex;
  width: 90%;
  margin-left: 5%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .tope__subt {
    margin: 0px;
    padding: 0px; }

.card {
  padding: 0 5em; }
  .card__img {
    display: block;
    height: 100px;
    width: 100%;
    background: #e0466b; }
  .card__content {
    padding: 1.5em; }
    .card__content__desc {
      width: 100%;
      display: block; }
    .card__content__list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0; }
      .card__content__list__item {
        margin: 0px; }

.caja {
  padding: 0 5em; }
  .caja__content {
    padding: 1.5em; }
    .caja__content__desc {
      width: 100%;
      display: block; }
    .caja__content__list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0; }
      .caja__content__list__item {
        margin: 0px; }

.redes {
  align-self: right; }

.flexContainer {
  display: flex;
  width: 90%;
  margin-left: 5%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: solid 1px;
  border-color: #000000; }

ul li {
  list-style: none;
  justify-content: space-between;
  padding: 20px; }

.portada {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #d1d3d4; }

a {
  text-decoration: none;
  color: #000000; }

.gInd {
  margin-top: 50px;
  /* display: grid;
	grid-template-columns: 500px, 200px;
	grid-template-rows: 1fr, 1fr;
	grid-gap: 50px;
	grid-template-areas: 
	"text1 img1"
	"text2 img2" 
}

.text1 {
	grid-area: text1;
}

.text2 {
	grid-area: text2;
}

.img1 {
	grid-area: img1;
}

.img2 {
	grid-area: img2;
*/ }

.carousel-caption {
  color: #000000; }

footer {
  height: 100px; }
